@import './assets/mytheme/variables';

.ui-border1 {
    border:1px solid red; 
}

.chat-message {
    margin-top:6px;    
    width: 400px;
    padding-top: 8px;
    padding-left: 8px;
    padding-right: 8px;

    &-attachment {
        
        &-border {
            padding-top: 8px;
            margin-left: 12px;
            margin-bottom: 8px;                
            border: 1px solid #DBDBDB;
            border-radius: 2px;   
            width: calc(#{$chatMessageAttachmentImageSize} + (2 * #{$margin}) + 2px);
        }        
        
        &-image {
            border-radius: 2px; 
            width: $chatMessageAttachmentImageSize; 
            height: $chatMessageAttachmentImageSize;         
            margin-left:12px;
            margin-right: 12px;
            background-size: cover; 
            background-repeat: no-repeat; 
            background-position: 50% 50%;

            &-link {
                width: calc(#{$chatMessageAttachmentImageSize} + 25px);
                padding-left: 12px;
                padding-top: 8px;
                padding-bottom: 8px;
                padding-right: 12px;

                &:hover {
                    cursor: pointer;
                }              

                &:hover &-download {
                    display: block;
                }              

                &-name {
                    font-family: IBM Plex Sans;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 18px;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis; 
                    
                    width: calc(#{$chatMessageAttachmentImageSize} - 30px);

                    color: $chatMessageAttachmentLinkTextColor;

                    &:hover {
                        text-decoration-line: underline;
                    }
                }
        
                &-download {
                    font-size: 1.0em;
                    display: none;
                }            
            }
        }
    }
}