.ui-interaction-tile-toolbar {
    padding-left: 40px;
}

.pi {
    font-size: 1.0em;
}

.ui-interaction-tile-info {
    margin-top:6px;
    height: 32px;
}

.ui-interaction-tile-class-name {
    font-size: 12px;
    color: #949CAD;
    line-height: 30px;
}

.ui-interaction-tile-duration {
    font-size: 12px;
    color:#56627C;
    margin-right:16px;
}

.ui-interaction-tile-channel-container {
    width: 42px;
}

.ui-interaction-tile-channel {
    font-size: 20px;
    color: #217EB7;
}

.ui-interaction-tile-party {
    font-size: 14px;
    color: #56627C;
    font-weight: 600;
}

.ui-button-interaction-tile {
    font-size:0.8em;
    width: 24px !important;
    height: 24px !important;    
}

.ui-interaction-tile-flag {
    width: 21px;
    height: 17px;
    background: #E02020;
    border-radius: 2px;
    font-size: 10px;
    line-height: 17px; 
    color: #FFFFFF;  
    text-align: center;
    float: right;
}

.ui-interaction-tile-container-flag {
    text-align:right; 
    width:33px;
    height: 26px;
    padding-top: 4px;       
}

.ui-interaction-tile-status {
    font-size: 12px;
    line-height: 16px;
    color: #56627C;
}

.ui-border1 {
    border:1px solid red; 
}

.ui-interaction-tile-button-round {
    cursor:pointer;
    height: 24px;
    width: 24px; 
    line-height: 24px; 
    border-radius: 12px;
}

.ui-interaction-tile-button-success {
    background-color: #3EC154; 
    color: #ffffff;
}

.ui-interaction-tile-status-ringing {
    color: #3EC154; 
}

.ui-interaction-tile-onhold {
    background: #E4AD00 !important;
    color: #FFFFFF !important;
}

.ui-interaction-tile-muted {
    background: #456FAA !important;
    color: #FFFFFF !important;    
}

.ui-interaction-tile-toolbar-button {
    background: #FFFFFF;
    color: #949CAD;    
    border: 1px solid #DBDBDB;
    border-radius: 2px;
    width:38px; 
    height: 26px;
    text-align: center;  
    cursor: pointer;  
}

.ui-interaction-tile-toolbar-button:hover {
    border-color: #949CAD;
}

.ui-interaction-tile-toolbar-button>span {
    line-height:24px; 
    font-size:12px;
}