/* Add your customizations of theme here */

    
body {

	.p-grid {
		flex-wrap: nowrap;		
	}

	.ui-tooltip-flex {
		display: flex !important;
	}

	.ui-widget {
		font-size: 12px;
	}

	.ui-menu .ui-menuitem-link {
		padding: 0.514em 0.857em;
		color: #949CAD;
	}

	.ui-menu .ui-menuitem-link:not(.ui-state-disabled):hover .ui-menuitem-icon {
		color: #949CAD;
	}

	.ui-menu .ui-menuitem-link .ui-menuitem-icon {
		color: #949CAD;
	}

	.my-task-telephony {
		padding-left: 16px;
	}

	.my-task-chat {
		padding-left: 8px;
	}

	.my-task {
		width: $myTaskWidth;
		height: $myTaskHeight;
		border-radius: 3px;
		background: $myTaskBgColor;
		border:$myTaskBorder;
		padding-top: 8px;
	}

	.my-task-active {	
		background: #E0EDF5;
		border: 1px solid #DBDBDB;
	}

	.my-task:hover {
		background: $myTaskHoverBgColor;
		border:$myTaskHoverBorder;
	}

	.p-col:not(.p-col-nogutter) {
		padding: $columnPadding;
	}

/*
	.p-col-no-padding {
		padding: 0px;
	}

	.p-grid-no-margin {
		margin-left: 0px;
		margin-right: 0px;
		margin-top: 0px;
	}	
*/
}